{% extends 'app/base.html' %}
{% block contenido %}
<br><br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h2>Editar Servicio Extra</h2>
                <hr>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-end">
                        <input type="reset" value="Borrar" class="btn btn-secondary">&nbsp;
                        <input type="submit" value="Modificar" class="btn btn-primary">
                    </div>
                    {{ mensaje }}
                </form>
            </div>
        </div>    
    </div>
</div>
<br><br>
{% endblock %}