{% extends 'app/base.html' %}
{% block contenido %}
<br><br>
<div class="container">
    <div class="row">
        <div class="col-6 text-center">
            <h2>Listado de servicios extras</h2>
        </div>
        <div class="col-6">
            <!--<a href="{% url 'tour_new' %}" class="btn btn-success btn-sm">Agregar tour</a>-->
        </div>
        <br><br><hr>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table align-middle">
                  <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Wifi</th>
                        <th>Descripcion</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    {% for servicio_extra in servicios_extra %}
                    <tr>
                        <td class="align-top">{{ servicio_extra.nombre }}</td>
                        <td class="align-top">{% if servicio_extra.wifi %}
                            Si
                            {% else %}
                            No
                            {% endif %}</td>
                        <td class="align-top">{{ servicio_extra.reseñas }}</td>
                        <td class="align-top"><a href="{% url 'servicios_extra_update' servicio_extra.id %}" class="btn btn-info btn-sm">Modificar</a></td>
                        <td class="align-top"><a href="{% url 'servicios_extra_delete' servicio_extra.id %}" class="btn btn-danger btn-sm">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div>
                    {% include 'app/paginator.html' %}
                  </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}
