{% extends 'app/base.html' %}
{% block contenido %}
<br><br>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body"></div>
            <h2>Listado de departamentos</h2>
            <hr>
            <table class="table table-striped table-hover table-responsive-sm">
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Descripción</th>
                    <th>Valor diario</th>
                    <th>Inventario</th>
                    <th>Estado</th>
                    <th>Imagen</th>
                    <th>Opciones</th>
                </tr>
                {% for d in entity %}
                <tr>
                    <td>{{ d.nombre_dep }}</td>
                    <td>{{ d.direccion_dep }}</td>
                    <td>{{ d.descripcion_dep }}</td>
                    <td>{{ d.valordiario_dep|floatformat:0 }}</td>
                    <td>{{ d.inventario_dep }}</td>
                    <td>{% if d.estado_dep %}
                        Activo
                        {% else %}
                        No Activo
                        {% endif %}
                    </td>
                    <td>{{ d.imagen_dep }}</td>
                    <td>
                        <a href="{% url 'modificar_departamento' d.id_dep %}" class="btn btn-info btn-sm">Modificar</a>&nbsp;
                        <a href="{% url 'estado_departamento' d.id_dep %}" class="btn btn-danger btn-sm">Cambiar estado</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div>
                {% include 'app/paginator.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}