{% extends 'app/base.html' %}
{% load static %}
{% block js %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 2000
      });
    });
</script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock %}
{% block contenido %}

<div class="slider">
    <div>
        <img src="{% static 'app/img/banner/banner1.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/banner2.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/banner3.png' %}" alt="">
    </div>
</div>
{% load humanize %}
<h2>Departamentos</h2>
<div class="productos">
    {% for d in departamentos %}

    <div class="producto">

        <div class="contenedor_producto">
            {% if d.imagen %}
            <img src="{{ d.imagen.url }}" alt="imagen producto">
            {% else %}
            <img src="{% static 'app/img/else.jpeg' %}" alt="imagen producto">
            {% endif %}
            <div class="detalle">
                <h5>{{ d.direccion_dep }} </h5>
                <h2>{{ d.nombre_dep }}</h2>
                <h3>{{ d.valordiario_dep|floatformat:0 }} CLP</h3>
                <p>{{ d.descripcion_dep }}</p>
            </div>

        </div>

    </div>
    {% endfor %}

</div>

{% endblock %}