{% extends 'app/base.html' %}
{% load static %}

{% block js %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 2000
      });
    });
</script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock %}
{% block contenido %}
{% load humanize %}

<div class="container" style="font-family:sans-serif">
    <h1>Reserva departamentos </h1>
    <hr class="col-12">
    <div class="row align-items-start">
        {% for d in entity %}
            <div class="col-lg-4 col-md-6">
                <a href="{% url 'detalle_departamento' d.id_dep %}" class="text-decoration-none">
                    <div class="card shadow">
                        <div class="card-body">
                            {% if d.imagen %}
                            <img src="{{ d.imagenes.first.imagen.url }}" alt="imagen" style="width: 100%; height: auto;">
                            {% else %}
                            <img src="{% static 'app/img/else.jpeg' %}" alt="imagen" style="width: 100%; height: auto;">
                            {% endif %}
                            <hr>
                            <div>
                                <h5>{{ d.direccion_dep }} </h5>
                                <h2>{{ d.nombre_dep }}</h2>
                                <h3>{{ d.valordiario_dep|floatformat:0 }} CLP</h3>
                                <p>{{ d.descripcion_dep }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                <br>
            </div>
        {% endfor %}
        <br>
    </div>
</div>
{% endblock %}